* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
    
}

/* Header */


header {
    height: 100vh;
    
}

.landing {
    height:100%;
    background:url(../images/bg1.jpg);
    background-position: center;
    background-size: cover;
}

.landing-top {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Crete Round', serif !important;
    line-height: 1.3;
}

.landing h1 {
    color:white;
    font-size: 4.2em;

}

.landing h2 {
    color: white;
    font-size: 2.3em;
    font-weight: lighter;
}

/* Rotator Css */

.landing-top > h2 span {
    display: none;
}

.rotator-primary {
    display: initial;
    
}



/* Rotator Css */


.landing-bot {
 
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-bot img {
  height: 60px;
  animation: arrow 1s infinite;
  position: relative;

}

@keyframes arrow {
  
    0%   {top: 0px;}
  
    50%  {top: 25px;}
    
    100% {top: 0px;}
  
}


.landing-btn {
    background-color :#ffffff;
    height: 50px;
    width: 130px;
    font-size: .9em;
    /* box-shadow:0 20px 50px rgba(255,255,255,.5); */
    position: relative;
    border: none;
    border-radius: 50px;
    font-family: 'Crete Round', serif;
    
}

/* End of header */
/*  About me */

 .about-me {
   height: 100vh;
   display: flex;
   font-family: 'Source Sans Pro', sans-serif;
   background: linear-gradient(to bottom,
		rgba(115, 115, 115, 0.767),
		rgba(255, 255, 255, 0.1)
		),url(../images/sec2.jpeg);
	background-size: cover;
  background-position: center;
  background-attachment: fixed;
 }

 
 .abt-cont-1 {
   width: 30%;
   height: 100%;
   color: white;
 }
 .abt-cont-1-1 hr {
  border-top: 1px outset gray;
  width: 80%;
  position: relative;
 }
 .abt-cont-1-1 {
   width: 100%;
   height: 50%;
   justify-content: space-evenly;
   align-items: center;
   display: flex;
   flex-direction: column;
   position: relative;
 }
 .abt-cont-1-1 > div {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .abt-cont-1-1 img {
   height: 170px;
   width: 170px;
   border-radius: 100%;
 }
 .abt-cont-1-2 {
   height: 50%;
   display: flex;
   justify-content: center;
   text-align: center;
 }
 .abt-cont-1-2 p {
   margin: 0 50px;
 }

 .abt-cont-2 {
   width: 70%;
   height: 100%;
   position: relative;
   /* display: flex;
   justify-content: center;
   align-items:center ;
   flex-direction: column; */
  /* background-color: red; */
  color: white;
 }

 .abt-cont-2-1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;

}

.abt-cont-2-2 {
  width: 100%;
  height: 80%;
  display: flex;
  /* justify-content:  */
  align-items: center;
  /* background-color: red; */
  flex-direction: column;
  

}

.skill-btn {
  display: flex;
  
}

.btn {
  height: 30px;
  width: 80px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  
}

.btn:hover{
  background: gray ;
  transform: scale(1.1);
}

.front-end {
  width: 80%;
  /* background-color: rebeccapurple; */
  
  
}

.back-end {
  width: 80%;
  display: none;
  /* background-color: rebeccapurple; */
  
  
}

.framework {
  width: 80%;
  display: none;
}






.abt-skills {
  margin: 20px;
  width: 100%;
  display: flex;
}

.abt-skills img {
  margin: 0 20px;
  height: 50px;
  width: 50px;
}
 

 .skills {
  position: relative;
  display: flex;
 justify-content: center;
 align-items: center;
  width: 100%;
  height: 5%;
  margin: 5px 0;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              -5px -5px 15px rgba(0,0,0,0.5);
  
  /* border-radius: 8px; */
  overflow: hidden;
  /* border: 2px solid #000; */
  transition: 0.5s;
} 

.skills .skill-name {
  position: relative;
  width: 15%;
  text-align: right;
  color:#fff;
  text-transform: uppercase;
  margin:0 15px;
  font-size: .6em;
}

 .skills .percent {

  position: relative;
  width: calc(100% - 1%);
  height: 12px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
 }

 .progress {
  position: absolute;
  top:0;
  left: 0;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #000;
  animation: animate 4s  ease-in-out forwards;
}
@keyframes animate {
  from {
    width: 0%;
  }
}

.front-end .abt-skills:nth-child(1) .percent .progress {
  background:linear-gradient(45deg , #e65c00, #ffe0cc );
   width: 95%;
 }

 .front-end .abt-skills:nth-child(2) .percent .progress {
  background:linear-gradient(45deg , #0066ff, #e6f0ff );
   width: 95%;
 }

 .front-end .abt-skills:nth-child(3) .percent .progress {
  background:linear-gradient(45deg ,  #ff4dd2, #ffe6f9 );
   width: 75%;
 }

 .front-end .abt-skills:nth-child(4) .percent .progress {
  background:linear-gradient(45deg ,  #ffd633, #fffae6 );
   width: 80%;
 }

 .back-end .abt-skills:nth-child(1) .percent .progress {
  background:linear-gradient(45deg ,  #6666ff, #ccccff );
   width: 85%;
 }

 .back-end .abt-skills:nth-child(2) .percent .progress {
  background:linear-gradient(45deg ,  #ffd633, #fffae6 );
   width: 80%;
 }

 .back-end .abt-skills:nth-child(3) .percent .progress {
  background:linear-gradient(45deg ,  #ff0000, #ffcccc);
   width: 60%;
 }

 .back-end .abt-skills:nth-child(4) .percent .progress {
  background:linear-gradient(45deg ,  #0066cc , #ffd633);
   width: 50%;
 }

 .framework .abt-skills:nth-child(1) .percent .progress {
  background:linear-gradient(45deg ,  #6600cc, #f2e6ff);
   width: 80%;
 }

 .framework .abt-skills:nth-child(2) .percent .progress {
  background:linear-gradient(45deg ,  #ff0000, #ffcccc);
   width: 70%;
 }

 .framework .abt-skills:nth-child(3) .percent .progress {
  background:linear-gradient(45deg ,  #00ffff, 	 #e6ffff);
   width: 85%;
 }

 .framework .abt-skills:nth-child(4) .percent .progress {
  background:linear-gradient(45deg ,  #0066cc, #e6f2ff);
   width: 80%;
 }

/* End of About me */
/* Projects */

.projects{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
   justify-content: center; 
   align-items: center; 
  background: url(../images/sec3.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.proj-title{
  color: white;
  text-align: center;
  width: 100%;
  margin:50px 0 30px;
  font-size: 50px;
}

.proj-container {
  width: 504px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.proj-container .proj-card {
  position: relative;
}

.proj-container .proj-card .face {
  width: 400px;
  height: 200px;
  transition: 0.5s;
  
}

.proj-container .proj-card .face span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2;
  background:linear-gradient(to right,#333,white);
  overflow: hidden;
  animation: animate1 2s linear infinite;
 
}



@keyframes animate1{

  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }

}

.proj-container .proj-card .face span:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 2;
  height: 100%;
  background:linear-gradient(to top,#333,white);
  animation: animate2 2s linear infinite 1s;
}

@keyframes animate2{

  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }

}

.proj-container .proj-card .face span:nth-child(3){
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background:linear-gradient(to bottom,#333,white);
  animation: animate3 2s linear infinite 1s;
}

@keyframes animate3{

  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }

}

.proj-container .proj-card .face span:nth-child(4){
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background:linear-gradient(to left,#333,white);
  animation: animate4 2s linear infinite;
}

@keyframes animate4{

  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }

}

.proj-container .proj-card  .face1 {
  position: relative;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  overflow: hidden;
}

.proj-container .proj-card:hover  .face1 {
  transform: translateY(0);
  background-color:  #4d4d4d;
 
}

.proj-container .proj-card:hover  .face1 h3 {
  /* transform: translateY(0); */
  /* background-color: blue; */
  color: white;
  transform: translateY(10px);
}

.proj-container .proj-card  .face1 .content {
  opacity:0.2;
  transition: 0.5s;
}

.proj-container .proj-card  .face1 img {
  max-height: 100px;
  transition: 0.5s;
  width: 200px;
}

.proj-container .proj-card  .face1 h3 {
  margin:20px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  transition: 1s;
}

.proj-container .proj-card:hover  .face1 .content{
  opacity: 1;
}

.proj-container .proj-card:hover  .face1 img {
  transform: scale(1.3);
}

.proj-container .proj-card  .face2 {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
  
}

.proj-container .proj-card:hover  .face2 {
  transform: translateY(0)
}

.proj-container .proj-card  .face2 p {
  margin: 0;
  padding: 0;
}

.proj-container .proj-card  .face2 a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;

}

.proj-container .proj-card  .face2 a:hover {
  background: #333;;
  color: white;
}




/* End of about */

/* Contact */
 
.contact{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,
  rgba(19, 20, 25, 0.867)100%,
  rgba(255, 255, 255, 0.1)
  ),url(../images/contactbg.png);
  font-family: 'Source Sans Pro', sans-serif;
  
}

.form {
  position: relative;
  width: 550px;
  padding: 40px 40px 60px;
  background: #131419;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              -5px -5px 15px rgba(0,0,0,0.5);
}

.form h2 {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.form .input{
  text-align: left;
  margin-top: 40px;
}

.form .input .inputBox {
  margin-top: 20px;
}

.form .input .inputBox label {
  display: block;
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 18px;
}

.form .input .inputBox input {
  width: 100%;
  height: 50px;
  background: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 18px;
  box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05),
  inset 2px 2px 6px rgba(0,0,0,0.5);
}

.form .input .inputBox input[type="submit"]{
  font-size: 18px;
  color: #03a9f4;
  box-shadow:  -2px -2px 6px rgba(255,255,255,0.05),
   2px 2px 6px rgba(0,0,0,0.5);
}

.form .input .inputBox input[type="submit"]:hover{
  box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05),
  inset 2px 2px 6px rgba(0,0,0,0.5);
}

.form .input .inputBox textarea {
  width: 100%;
  height: 100px;
  background: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 18px;
  box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05),
  inset 2px 2px 6px rgba(0,0,0,0.5);
}

@media only screen and (max-width:667px){

/* Landing -------------------------------------- */
.landing h1 {
  color:white;
  font-size: 2.1em;

}

.landing-top > h2 span {
  display: none;
 
}

/*End of Landing -------------------------------------- */
/* About -------------------------------------- */
.about-me {
height: auto;
 /* flex-direction: column; */
 flex-wrap: wrap;


}

.abt-cont-1 {
  width: 100%;
  height: 50%;
}

.abt-cont-2 {
  width: 100%;
 
}
.abt-cont-2-2:nth-child() {
  width: 100%;
  height: 80%;
  display: flex;
  /* justify-content:  */
  align-items: normal;
  /* background-color: red; */
  flex-direction: column;
}

.abt-cont-1-2 {
  height: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}






/* End of About -------------------------------------- */
/* Project -------------------------------------- */
.proj-container .proj-card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  
}
/* end of project -------------------------------------- */
/* Contact -------------------------------------- */



/* End of contact -------------------------------------- */
}

@media only screen and (min-width:668px) and (max-width:1279px){
  .landing h1 {
    color:white;
    font-size: 2.1em;
  
  }
  
  .landing-top > h2 span {
    display: none;
   
  }

  .about-me {
    height: 50vh;
    flex-wrap: wrap;
     
    
    
    }

    .proj-container {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-around;
    }

}